<div class="loading-home"></div>
<div class="home">
  <nav>
    <h1>VANA</h1>
    <div class="nav-link">
      <a href="#">About</a>
      <button>Join the waitlist</button>
    </div>
  </nav>
  <main>
    <h1 id="your-data">Your data, <br>
                      Your rules.</h1>
    <p id="homep">You create so much data about yourself every day. What if you could see it all in one place and choose what to do with it? What if you could use it to change your world and the world around you?<br>
    Enter Vana, the new data experience.</p>
    <div class="email">
      <input type="text" placeholder="Email Address">
      <button>Join the waitlist</button>
    </div>
  </main>
  <div class="img-list">
    <%= image_tag "vera-bg", id: "background-image" %>
    <%= image_tag "ring", id: "ring", data: { speed: "auto" } %>
    <%= image_tag "ring2", id: "ring2",  data: { speed: "auto" } %>
    <%= image_tag "shoes", id: "shoes",  data: { speed: "1.5" } %>
    <%= image_tag "watch", id: "watch",  data: { speed: "auto" } %>
  </div>
</div>

<div class="inertia">
