<!DOCTYPE html>
<html>
  <head>
    <title>Gsap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://static.snoweb.io/snowebsvg/dist/css/themes-<version>.css">
    <link rel="stylesheet" href="https://static.snoweb.io/snowebsvg/dist/css/core-<0.0.129>.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
